<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="script.js" type="text/javaScript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <title> {{ title }} </title>

</head>

<body>

  <header>

  </header>

  {{>header}}

  {{#if isAuthenticated}}
  <div>
    <br>
    <a href="/createNews">
      <input type="button" value="Create News Article">
    </a>
  </div>
  {{/if}}

  {{# each contents }}
  <br>
  <br>
  <main role="main">
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading"> {{this.Title}} <span class="text-muted"> </span></h2>
          <p class="lead"> {{ this.Content }}</p>
          <p style="float:right"> {{this.Date}} </p>
          <a style="float:right"  href="{{this.Link}}">
            <input type="button" value="visit website">
          </a>
        </div>
        <div class="col-md-5">
          <img class="img-fluid" class="featurette-image img-fluid mx-auto" src="pitrolio.png" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
    </div>
  </main>
  {{/each}}
</body>
</html>