<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="script.js" type="text/javaScript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <title> {{ title }} </title>

</head>

<body>

  {{>header}}

  <main role="main" class="container">
    <div>
      <p> <h1> {{title}} </h1> </p>
    </div>

  {{#if isAuthenticated}}
    <div>
      <a href="/createNews">
        <input type="button" value="Create News Article">
      </a>
    </div>
    <br>
  {{/if}}
  </main>

  {{# each contents }}
  <br>
  <br>
  <main role="main">
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading"> {{this.Title}} <span class="text-muted"> </span></h2>
          <p class="lead"> {{ this.Content }}</p>
          <p style="float:right"> {{this.Date}} </p>
          <a style="float:right">
            <input type="button" value="Learn more.." onclick="window.location.href='{{this.Link}}'">
          </a>
        </div>
        <div class="col-md-5">
          <img class="img-fluid" class="featurette-image img-fluid mx-auto" src="pitrolio.png" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
    </div>
  </main>
  {{/each}}

  <main role="main">
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading"> Oil Spill Kills More Than 2,400 Animals <span class="text-muted"> </span></h2>
          <p class="lead"> An unclear amount of oil has leaked into Colombia's waterways, and environmental activists are saying an oil company is to blame.  </p>
          <p style="float:right"> Sun Jun 17 2018 21:11:59 GMT+0100 (Hora de Verão de GMT) </p>
          <a style="float:right">
            <input type="button" value="Learn more.." onclick="window.location.href='https://news.nationalgeographic.com/2018/03/oil-spill-colombia-animals-killed-spd/'">
          </a>
        </div>
        <div class="col-md-5">
          <img class="img-fluid" class="featurette-image img-fluid mx-auto" src="5.jpg" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
    </div>
  </main>

  <main role="main">
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading"> BP oil spill did $17.2 billion in damage to natural resources, scientists find <span class="text-muted"> </span></h2>
          <p class="lead"> The 2010 BP Deepwater Horizon oil spill did $17.2 billion in damage to the natural resources in the Gulf of Mexico, a team of scientists recently found after a six-year study of the impact of the largest oil spill in US history.  </p>
          <p style="float:right"> Sun Jun 17 2018 20:15:59 GMT+0100 (Hora de Verão de GMT) </p>
          <a style="float:right">
            <input type="button" value="Learn more.." onclick="window.location.href='https://www.sciencedaily.com/releases/2017/04/170420141825.htm'">
          </a>
        </div>
        <div class="col-md-5">
          <img class="img-fluid" class="featurette-image img-fluid mx-auto" src="4.jpg" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
    </div>
  </main>

  <main role="main">
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading"> Greek oil spill forces closure of Athens beaches <span class="text-muted"> </span></h2>
          <p class="lead"> Leak described as ecological disaster with authorities accused of failing to recognise scale of threat from sunken tanker An emergency operation is under way to clean up an oil spill from a sunken tanker that has blackened popular beaches and bays in Athens’ Argo-Saronic gulf. </p>
          <p style="float:right"> Sun Jun 17 2018 19:11:59 GMT+0100 (Hora de Verão de GMT) </p>
          <a style="float:right">
            <input type="button" value="Learn more.." onclick="window.location.href='https://www.theguardian.com/world/2017/sep/14/greek-oil-spill-forces-closure-athens-beaches'">
          </a>
        </div>
        <div class="col-md-5">
          <img class="img-fluid" class="featurette-image img-fluid mx-auto" src="1.jpg" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
    </div>
  </main>

  <main role="main">
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading"> Trump Rollbacks Target Offshore Rules ‘Written With Human Blood’  <span class="text-muted"> </span></h2>
          <p class="lead"> Drillers seek to gain from an easing of Obama-era safety and environmental regulations that were adopted after the Deepwater Horizon disaster killed 11 people.</p>
          <p style="float:right"> Sun Jun 17 2018 18:48:59 GMT+0100 (Hora de Verão de GMT) </p>
          <a style="float:right">
            <input type="button" value="Learn more.." onclick="window.location.href='https://www.nytimes.com/2018/03/10/business/offshore-drilling-trump-administration.html?rref=collection%2Ftimestopic%2FOil%20Spills&action=click&contentCollection=timestopics&region=stream&module=stream_unit&version=latest&contentPlacement=4&pgtype=collection'">
          </a>
        </div>
        <div class="col-md-5">
          <img class="img-fluid" class="featurette-image img-fluid mx-auto" src="2.jpg" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
    </div>
  </main>

  <main role="main">
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading"> Sunken Iranian tanker could cause 'irreversible' environmental damage after leaving oil slick the size of Paris <span class="text-muted"> </span></h2>
          <p class="lead">An Iranian oil tanker that sank in flames off the east coast of China is thought to be leaking heavy bunker fuel, raising fears of an environmental disaster. Experts warned “irreversible” damage to marine wildlife was possible after the ship sank on Saturday, leaving behind an oil slick the size of Paris</p>
          <p style="float:right"> Sun Jun 17 2018 17:48:59 GMT+0100 (Hora de Verão de GMT) </p>
          <a style="float:right">
            <input type="button" value="Learn more.." onclick="window.location.href='https://www.independent.co.uk/news/world/asia/iran-tanker-sinking-east-china-sea-oil-slick-marine-wildlife-pollution-freighter-collision-a8168341.html'">
          </a>
        </div>
        <div class="col-md-5">
          <img class="img-fluid" class="featurette-image img-fluid mx-auto" src="3.jpg" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
    </div>
  </main>
</body>
</html>